openapi: 3.0.0
info:
  version: 1.0.0
  title: Real Estate API!
  description: A Real Estate Web API for my 6003CEM Portfolio coursework.
  contact:
    name: Mohammed Fardhin Masud
    email: masudm6@coventry.ac.uk
servers:
  - url: https://firstrespect-zippergriffin-3000.codio-box.uk/api/v1
    description: Codio Development Server
tags:
  - name: Users
    description: API endpoints for user management.
  - name: Listing
    description: API endpoints for property listing operations
paths:
  /users/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
        description: Numeric id of the user
    description: >
      This reource represents the ability to perform actions on users via their
      ID.
    get:
      tags:
        - Users
      description: Get user by id.
      responses:
        "200":
          description: View user details.
        "401":
          description: Non-admin users can only view their own record.
        "404":
          description: User was not found in the DB.
    put:
      tags:
        - Users
      description: Update user by ID.
      responses:
        "200":
          description: Update confirmation and link to record.
        "404":
          description: User was not found in the DB.
    delete:
      tags:
        - Users
      description: Delete user by ID.
      responses:
        "200":
          description: User deletion confirmation.
        "401":
          description: Only admin users can delete user accounts.
        "404":
          description: User was not found in the DB.
  /users:
    description: Register new users and view all users
    post:
      tags:
        - Users
      description: Create a new user.
      responses:
        "201":
          description: User created.
        "400":
          description: User creation failed.
    get:
      tags:
        - Users
      description: View all users
      responses:
        "200":
          description: View details for all users
        "401":
          description: Only admin users can view details for all users
