openapi: 3.0.0
info:
  version: 1.0.0
  title: UK Location API!
  description: A UK Location data API for my 6003CEM Portfolio coursework. Provides crime and transport details for a given postcode or WGS84 coordinate pair.
  contact:
    name: Mohammed Fardhin Masud
    email: masudm6@coventry.ac.uk
servers:
  - url: https://firstrespect-zippergriffin-3000.codio-box.uk/api/v1
    description: Codio Development Server
tags:
  - name: Users
    description: API endpoints for user management.
  - name: Postcodes
    description: API endpoints for Postcode collection operations.
  -name: Searches
    description: API endpoints to search data for locations.
  -name: Specials
    description: API endpoints for special operations. Primarily meant for testing.
paths:
  /users/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
        description: Numeric id of the user
    description: >
      This reource represents the ability to perform actions on users via their
      ID.
    get:
      tags:
        - Users
      description: Get user by id.
      responses:
        "200":
          description: View user details.
        "400":
          description: Invalid ID supplied.
        "401":
          description: User needs to log in.
        "404":
          description: User was not found in the DB.
    put:
      tags:
        - Users
      description: Update user by ID.
      responses:
        "200":
          description: Update confirmation showing a message with updated fields.
        "400":
          description: Invalid ID supplied.
        "401":
          description: User needs to log in.
        "403":
          description: User does not have permission to access this resource or perform this action.
        "500":
          description: User update failed.
    delete:
      tags:
        - Users
      description: Delete user by ID.
      responses:
        "200":
          description: User deletion confirmation.
        "400":
          description: Invalid ID supplied.
        "401":
          description: User needs to log in.
        "403":
          description: User does not have permission to access this resource or perform this action.
        "500":
          description: User deletion failed.
  /users:
    description: Register new users and view all users
    post:
      tags:
        - Users
      description: Create a new user.
      responses:
        "201":
          description: User created.
        "400":
          description: User already exists, or invalid data was entered.
        "500":
          description: User creation failed.
    get:
      tags:
        - Users
      description: View all users
      responses:
        "200":
          description: View details for all users
        "401":
          description: User needs to log in to view all users.
        "403":
          description: User does not have permission to access this resource.
        "404":
          description: No users were found in the DB (should never happen).
  /postcodes:
    description: Get all postcodes from the Postcodes collection. Admins only.
    get:
      tags:
        - Postcodes
      description: View all postcodes in the mongoDB Postcodes collection.
      responses:
        "200":
          description: View all postcodes.
        "401":
          description: Only admin users can view all postcodes.
        "403":
          description: User does not have permission to access this resource.
  /postcodes/{postcode}:
    parameters:
      - in: path
        name: postcode
        schema:
          type: string
        required: true
        description: Postcode to search for.
    description: >
      This resource represents the ability to collect information for a given postcode.
      The postcode is validated using the postcodes.io API and is stored in a condensed form as a Postcode model.
      The full details are returned in this route, but in the searches route, only the condensed form is used.
    get:
      tags:
        - Postcodes
      description: Get postcode by validating the postcode in the URL.
      responses:
        "200":
          description: View postcode details for given postcode.
        "400":
          description: Postcode entered is invalid.
        "403":
          description: User does not have permission to access this resource.
  /postcodes/random:
    description: Get a random postcode using the postcodes.io API
    get:
      tags:
        - Postcodes
      description: Get a random postcode using the postcodes.io API
      responses:
        "200":
          description: View postcode details for given postcode.
        "401":
          description: User has not logged in.
        "403":
          description: User does not have permission to access this resource.
  /search:
    description: Search for a details of a location using a postcode or WGS84 coordinate pair.
    


        
  
